.country-label {
  margin-bottom: 50px;
  text-align: center;
}

#top-names {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
}
#top-names .name {
  cursor: pointer;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  flex: 0 0 20px;
  margin: 0 8px 0 0;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
}
#top-names .name.female {
  position: relative;
}
#top-names .name.female::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #D5573B;
  border-radius: 50%;
}

.axis text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.axis .domain {
  opacity: 0;
}
.axis-y line {
  stroke-opacity: 0.4;
}